.ps-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  @include transform-style(preserve-3d);
  @include hidden;
  @include transition(all 0.75s $timing-1);
  @include transition-delay(0);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.95);
    @include transition(transform 0.6s $timing-1);
    @include transform(scale3d(1, 0, 1));
    @include transform-origin(50% 100%);
  }
  &__content {
    @include center();
    max-width: 1200px;
    width: 100%;
    padding: 0 3rem;
    @include center();
  }
  .ps-form--primary-search {
    @include transform(translateY(100%));
    @include transition(all 0.6s $timing-1);
    @include hidden;
  }
  > .ps-btn--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    background-color: #000;
    z-index: 1000;
    @include transform(scale(0, 0) rotate(0));
    @include border-radius(50%);
    @include transition(all 0.6s $timing-1);
    border: none;
    &:before,
    &:after {
      background-color: #ffffff;
      height: 50%;
    }
    &:hover {
      background-color: #f44336;
    }
  }
  &.active {
    @include show;
    @include transition-delay(0s);
    &:before {
      @include transform(scale3d(1, 1, 1));
      @include transform-origin(50% 0%);
    }
    > .ps-btn--close {
      @include show;
      @include transform(scale(1, 1) rotate(180deg));
      @include transition-delay(0.75s);
    }
    .ps-form--primary-search {
      @include transform(translateY(0));
      @include transition-delay(0.35s);
      @include show;
    }
  }
  @include media("<xs") {
    > .ps-btn--close {
    }
    &__content {
      padding: 0 1.5rem;
    }
  }
}

// Loader CSS - Bhavya

.loaderParent {
  width: 100vw !important;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80808026;
}

.loader {
  position: relative;
  width: 100px !important;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);

  &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
      inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
      -225deg,
      #00ffd1 0%,
      #35c4c7 50%,
      #ececec00 100%
    );
    filter: blur(20px);
    z-index: -1;
    animation: animate 0.5s linear infinite;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loader CSS - Bhavya End

.icon-carttest {
  font-size: 70px;
  color: rgb(12, 148, 153);
  // animation: bounce 2s ease infinite;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  // animation: rotation 2s ease infinite;
  width: 100vw !important;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f1f126;
  a {
    align-items: center;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes image {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
